{{ define "title" }}
  <div class="title">diário</div>
{{ end }}

{{ define "body" }}
<main>
  <article>
    Estamos preparando nossa saída para <strong>o início de 2018</strong>. Enquanto isso, você acompanha por aqui toda nossa preparação e também alguns posts sobre lugares que gostamos na região de <strong>Canela</strong> e <strong>Gramado</strong>.
  </article>

  <div class="grid-container">
    <div class="post-summaries grid-x small-up-1 medium-up-2 large-up-3">
      {{ range .Pages }}
        <div class="post-summary cell">
          <div class="card">
            <div class="card-image">
              <a href="{{ .RelPermalink }}" title="abrir post">
                {{ if .Param "thumb" }}
                  <img src="/media/{{ .Param "thumb" }}">
                {{ else }}
                  <img src="https://placehold.it/600x400">
                {{ end }}
                <span class="card-title" style="">{{ .Title }}</span>
              </a>
            </div>
            <div class="card-section">
              <div class="sub author">
                {{ if eq (.Param "author") "pricila" }}
                  Pricila Franz -
                {{ end }}
                {{ if eq (.Param "author") "fabiano" }}
                  Fabiano Franz -
                {{ end }}
                {{ .Date.Format "02 January 2006" }}</span>
              </div>
              <p class="summary">{{ .Summary | truncate 280 }}</p>
              <div class="expand sub text-center">
                <a href="{{ .RelPermalink }}" title="abrir post">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
