{{ define "title" }}
  <div class="title">{{ .Title }}</div>
{{ end }}

{{ define "body" }}
  {{ with .Param "images" }}
    {{ if .background }}
      {{ $original := $.Page.Resources.GetByPrefix .background }}
      {{ if $original }}
        {{ $background := $original.Resize "1200x" }}
        <style>
          header {
            background-image: url({{ $background.RelPermalink }});
          }
        </style>
      {{ end }}
    {{ end }}
  {{ end }}
  <main>
    <article class="post clearfix">
      {{ if .Param "callout" }}
      <p class="callout">
        {{ .Param "callout" }}
      </p>
      {{ end }}
      <div class="meta">
        <div class="author">
          {{ if eq (.Param "author") "fabiano" }}Fabiano Franz{{ end }}{{ if eq (.Param "author") "pricila" }}Pricila Franz{{ end }}{{ if eq (.Param "author") "isabela" }}Isabela Reis Franz{{ end }}, {{ .Date.Format "02/01/2006" }} às {{ .Date.Format "15h" }} em {{ .Param "local" }}
        </div>
        <div class="share">
          <div class="fb-like" data-href="{{ .Permalink }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
      </div>
      {{ .Content }}
    </article>
    <aside class="bios">
      <div class="sub author">
        <div class="bio text-right clearfix">
          {{ if eq (.Param "author") "pricila" }}
            <figure class="polaroid right">
              <img src="/images/pricila.jpg" alt="">
              <figcaption>Pricila</figcaption>
            </figure>
            <div class="description">
              <h3 class="separator-right"><strong>Pricila Franz</strong></h3>
              <p>
                {{ partial "readContent" (slice . "/content/homepage/tradutora.md") }}
              </p>
            </div>
          {{ end }}
          {{ if eq (.Param "author") "fabiano" }}
            <figure class="polaroid right">
              <img src="/images/fabiano.jpg" alt="">
              <figcaption>Fabiano</figcaption>
            </figure>
            <div class="description">
              <h3 class="separator-right"><strong>Fabiano Franz</strong></h3>
              <p>
                {{ partial "readContent" (slice . "/content/homepage/programador.md") }}
              </p>
            </div>
          {{ end }}
          {{ if eq (.Param "author") "isabela" }}
            <figure class="polaroid right">
              <img src="/images/lander3.jpg" alt="">
              <figcaption>Isabela</figcaption>
            </figure>
            <div class="description">
              <h3 class="separator-right"><strong>Isabela Reis Franz</strong></h3>
              <p>
		A Isabela, de 10 anos, adora viajar, ler Harry Potter, brincar com muitos amigos, aventuras, desenhar, os irmãos dela, ajudar o mundo, tocar piano, passear, dançar e brincar de qualquer coisa.
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    </aside>
  </main>
{{ end }}
