{{ define "title" }}
  <div class="title internal">
    <h1>{{ .Title }}</h1>
  </div>
{{ end }}

{{ define "body" }}
  {{ if .Param "image" }}
    <style>
      header {
        background-image: url(/media/{{ .Param "image" }});
      }
    </style>
  {{ end }}
  <main>
    <article class="post">
      {{ if .Param "callout" }}
      <p class="callout">
        {{ .Param "callout" }}
      </p>
      {{ end }}
      <div class="meta">
        <div class="author">
          {{ if eq (.Param "author") "fabiano" }}Fabiano Franz{{ end }}{{ if eq (.Param "author") "pricila" }}Pricila Franz{{ end }}, {{ .Date.Format "02/01/2006" }} às {{ .Date.Format "15h" }} em {{ .Param "local" }}
        </div>
        <div class="share">
          <div class="fb-like" data-href="{{ .Permalink }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
      </div>
      {{ .Content }}
    </article>
    <aside class="bios">
      <div class="sub author">
        <div class="bio text-right clearfix">
          {{ if eq (.Param "author") "pricila" }}
            <figure class="polaroid right">
              <img src="/images/pricila.jpg" alt="">
              <figcaption>Pricila</figcaption>
            </figure>
            <div class="description">
              <h3 class="separator-right"><strong>Pricila Franz</strong></h3>
              <p>
                {{ partial "readContent" (slice . "/content/homepage/tradutora.md") }}
              </p>
            </div>
          {{ end }}
          {{ if eq (.Param "author") "fabiano" }}
            <figure class="polaroid right">
              <img src="/images/fabiano.jpg" alt="">
              <figcaption>Fabiano</figcaption>
            </figure>
            <div class="description">
              <h3 class="separator-right"><strong>Fabiano Franz</strong></h3>
              <p>
                {{ partial "readContent" (slice . "/content/homepage/programador.md") }}
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    </aside>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell auto">
          <div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = '{{ .Permalink }}';
  this.page.identifier = '{{ .RelPermalink }}';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://6overlanders.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
        </div>
      </div>
    </div>
  </main>
{{ end }}
