body {
  background: #d6d6d6;
  background: linear-gradient(to left, #ECE9E6, #d6d6d6);
}

body, h1, h2, h3, h4 {
  color: #666;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong, b {
  font-weight: 400;
}

.separator-left, .separator-right {
  &::after {
    position: relative;
    width: 3rem;
    border-bottom: .125rem solid #cc4b37;
    clear: both;
    display: table;
    content: ' ';
    margin-top: .8rem;
    margin-bottom: 0;
  }
}

.separator-left {
  &::after {
    margin-right: auto;
    margin-left: 0;
  }
}

.separator-right {
  &::after {
    margin-left: auto;
    margin-right: 0;
  }
}

.social-media {
  .fa {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 0;
    margin-right: .5rem;

    @include breakpoint(large) {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      font-size: 2rem;
    }


    &.fa-facebook {
      background: #3b5998;
    }

    &.fa-linkedin {
      background: #007bb6;
    }

    &.fa-twitter {
      background: #00aced;
    }

    &.fa-instagram {
      background-color: #A1755C;
    }

    &.fa-youtube-play {
      background-color: #C52F30;
    }
  }

  .social-media-id {
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;

    @include breakpoint(large) {
      height: 3rem;
      line-height: 3rem;
      font-size: 2rem;
    }
  }
}

header {
  background-image: url(../images/landscape.jpg);
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(large) {
    padding-bottom: 2rem;
    background-position: center center;
  }


  .title {
    margin-top: 9rem;

    @include breakpoint(large) {
      margin-top: 16rem;
    }


    h1 {
      font-size: 3.2rem;
      margin: 0 0 -1.4rem 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: #fff;

      @include breakpoint(large) {
        font-size: 9rem;
        margin-bottom: -4.1rem;
      }
    }
  }

  .summary {
    font-size: 1.4rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include breakpoint(large) {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      font-size: 2.5rem;
    }
  }

  nav {
    background-color: rgba(68, 68, 68, 0.4);
    padding-top: .3rem;

    .menu, .menu-text {
      font-weight: 400 !important;
    }

    .menu {
      @include breakpoint(large) {
        font-size: 1.5rem;
      }


      .menu-text, .active {
        border-bottom: .3rem solid #cc4b37;
      }

      a {
        color: #fff;
      }

      &.social {
        a {
          color: #fff;
          padding-right: 0;

          .fa {
            text-align: center;
          }
        }
      }
    }
  }
}

mark {
  color: #666;
  font-weight: 400;
  background-color: #faf785;
}

figure {
  &.polaroid {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: .5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    filter: grayscale(100%);
    position: relative;

    @include breakpoint(large) {
      padding: .75rem;
    }


    &.semi-grayscale {
      filter: grayscale(50%);
    }

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      font-family: 'Indie Flower', cursive;
      font-size: 1rem;
      text-align: center;
      margin-top: .5rem;
      transition: all 0.3s;

      @include breakpoint(large) {
        margin-top: .75rem;
        font-size: 1.4rem;
      }
    }

    &:hover {
      transform: scale(1.5, 1.5) rotate(4deg);
      filter: none;
      transition: all 0.3s;
      z-index: 50;
    }
  }
}

main {
  aside {
    margin-top: 1rem;

    @include breakpoint(large) {
      margin-top: 2rem;
    }


    .row {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        &.kids {
          text-align: right;

          .separator-left {
            &::after {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }


      h3 {
        line-height: 1;
      }

      .bio {
        p {
          font-size: 1rem;

          @include breakpoint(large) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  article {
    margin-top: 1rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    @include breakpoint(large) {
      margin-top: 2rem;
      font-size: 1.5rem;
    }


    h1 {
      line-height: 1;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.post {
      h1 {
        &:first-of-type {
          font-size: 3.5rem;
        }
      }

      ul, ol {
        margin-left: 2rem;
      }

      ul {
        &.task-list {
          margin-left: .5rem;
          list-style-type: none;
        }
      }
    }

    &.post, &.page {
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include breakpoint(large) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }


      figure {
        margin-top: .5rem;
        margin-bottom: 1rem;

        &.float-left {
          margin-right: 1rem;
        }

        &.float-right {
          margin-left: 1rem;
          text-align: right;
        }

        &.float-center {
          text-align: center;
        }

        figcaption {
          text-align: center;
          font-size: .8rem;

          @include breakpoint(large) {
            font-size: 1.2rem;
          }
        }
      }

      .separator-left, .separator-right {
        &::after {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

footer {
  .second-callout {
    color: #fff;
    background-color: #444;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;

    @include breakpoint(large) {
      margin-top: 2rem;
      font-size: 1.5rem;
    }


    h1 {
      color: #fff;
      line-height: 1;
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.75rem;

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }
}

#map {
  height: 33rem;
  width: 100%;
}
