@charset "utf-8";

@import "settings";
@import "foundation";

//@import "motion-ui";

@include foundation-global-styles;

@include foundation-grid;

// @include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;

//@include foundation-button;

//@include foundation-forms;

// @include foundation-range-input;
//@include foundation-accordion;

//@include foundation-accordion-menu;

//@include foundation-badge;

//@include foundation-breadcrumbs;

//@include foundation-button-group;

//@include foundation-callout;

//@include foundation-card;

//@include foundation-close-button;

@include foundation-menu;

//@include foundation-menu-icon;

//@include foundation-drilldown-menu;

//@include foundation-dropdown;

//@include foundation-dropdown-menu;

//@include foundation-responsive-embed;

//@include foundation-label;

//@include foundation-media-object;

//@include foundation-off-canvas;

//@include foundation-orbit;

//@include foundation-pagination;

//@include foundation-progress-bar;

// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;

//@include foundation-sticky;

//@include foundation-reveal;

//@include foundation-switch;

//@include foundation-table;

//@include foundation-tabs;

@include foundation-thumbnail;

//@include foundation-title-bar;

//@include foundation-tooltip;

//@include foundation-top-bar;

@include foundation-visibility-classes;

@include foundation-float-classes;

// @include foundation-flex-classes;

// @include foundation-prototype-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

body {
  background: #d6d6d6;
  background: linear-gradient(to left, #ECE9E6, #d6d6d6);
}

body, h1, h2, h3, h4 {
  color: #666;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong, b {
  font-weight: 400;
}

.separator-left, .separator-right {
  &::after {
    position: relative;
    width: 3rem;
    border-bottom: .125rem solid #cc4b37;
    clear: both;
    display: table;
    content: ' ';
    margin-top: .8rem;
    margin-bottom: 0;
  }
}

.separator-left {
  &::after {
    margin-right: auto;
    margin-left: 0;
  }
}

.separator-right {
  &::after {
    margin-left: auto;
    margin-right: 0;
  }
}

ul {
  &.social-media {
    margin: 0 0 .5rem 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding-right: .2rem;
      height: 2rem;
      line-height: 2rem;

      .fa {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #fff;
        border-radius: 0;

        &.fa-2x {
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
        }

        &.fa-facebook {
          background: #3b5998;
        }

        &.fa-linkedin {
          background: #007bb6;
        }

        &.fa-twitter {
          background: #00aced;
        }

        &.fa-instagram {
          background-color: #A1755C;
        }

        &.fa-youtube {
          background-color: #C52F30;
        }
      }
    }

    .social-media-id {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

header {
  background-image: url(../images/landscape.jpg);
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;

  @include breakpoint(large) {
    padding-top: 18rem;
    background-position: center center;
  }


  h1 {
    font-size: 3.2rem;
    margin: 0 0 -1.4rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;

    @include breakpoint(large) {
      font-size: 9rem;
      margin-bottom: -4.1rem;
    }
  }

  .summary {
    font-size: 1.4rem;
    background-color: #fff;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    @include breakpoint(large) {
      font-size: 2.5rem;
    }
  }

  nav {
    background-color: rgba(68, 68, 68, 0.4);
    margin-top: 1rem;
    padding-top: .3rem;

    .menu, .menu-text {
      font-weight: 400 !important;
    }

    .menu {
      font-size: 1.5rem;

      .menu-text, .active {
        border-bottom: .3rem solid #cc4b37;
      }

      a {
        color: #fff;
      }

      &.social {
        a {
          color: #fff;
          padding-right: 0;

          .fa {
            text-align: center;
          }
        }
      }
    }
  }
}

mark {
  color: #666;
  font-weight: 400;
  background-color: #faf785;
}

figure {
  &.polaroid {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 0.75rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    filter: grayscale(100%);
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      font-family: 'Indie Flower', cursive;
      font-size: 1rem;
      text-align: center;
      margin-top: 0.75rem;
      transition: all 0.3s;

      @include breakpoint(large) {
        font-size: 1.4rem;
      }
    }

    &:hover {
      transform: scale(1.5, 1.5) rotate(4deg);
      filter: none;
      transition: all 0.3s;
      z-index: 50;
    }
  }
}

main {
  aside {
    margin-top: 2rem;

    .row {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        &.kids {
          text-align: right;

          .separator-left {
            &::after {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }


      h3 {
        line-height: 1;
      }

      .bio {
        p {
          font-size: 1rem;

          @include breakpoint(large) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  article {
    margin-top: 2rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    @include breakpoint(large) {
      font-size: 1.5rem;
    }


    h2 {
      line-height: 1;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.post {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      figure {
        margin-top: .5rem;
        margin-bottom: 1rem;

        &.float-left {
          margin-right: 1rem;
        }

        &.float-right {
          margin-left: 1rem;
          text-align: right;
        }

        &.float-center {
          text-align: center;
        }

        figcaption {
          text-align: center;

          h4 {
            font-size: 1.2rem;
          }
        }
      }

      .separator-left, .separator-right {
        &::after {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

footer {
  .second-callout {
    color: #fff;
    background-color: #444;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1rem;

    @include breakpoint(large) {
      font-size: 1.5rem;
    }


    h2 {
      color: #fff;
      line-height: 1;
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.75rem;

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }
}

#map {
  height: 33rem;
  width: 100%;
}
