<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {{ partial "header/metadata.html" . }}
  {{ partial "header/styles.html" . }}
  <title>Uma família de 6 pessoas viajando pelo mundo em um carro + trailer.</title>
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    <article class="column row post">
      <h2 class="separator-left">{{ .Title }}</h2>
      {{ .Content }}
    </article>
    {{ if and (eq .Page.Section "page") (eq .Page.URL "/apoiadores/") }}
      <aside>
        <div class="row home">
          <div class="column small-4 medium-2">
            <figure class="polaroid">
              <img src="/images/itutrailer1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>
          </div>
          <div class="column small-4 medium-2">
            <figure class="polaroid">
              <img src="/images/itutrailer2.jpg" alt="">
              <figcaption>Micro Minnie</figcaption>
            </figure>
          </div>
          <div class="column small-4 medium-8 bio">
            <h3 class="separator-left"><strong>Itu Trailer</strong></h3>
            <p>
            A maior e mais completa loja de Trailers, Motor-Homes e produtos para seu lazer reunidas em um só lugar. Importadora oficial dos trailers americanos <a href="http://winnebagoind.com/" target="_blank">Winnebago</a>.
            </p>
            <p>
              <a href="http://www.itutrailer.com.br/" target="_blank">www.itutrailer.com.br</a>
              <div class="social-media">
                <a href="https://www.facebook.com/itutrailer/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/itutrailer/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/Itutrailer" target="_blank"><i class="fa fa-youtube-play"></i></a>
              </div>
            </p>
          </div>
        </div>

        <div class="row home">
          <div class="column small-4 medium-8 text-right bio">
            <h3 class="separator-right"><strong>Pano Estampado</strong></h3>
            <p>
              A Pano Estampado surgiu para comercializar camisetas personalizadas de bandas, seriados, personagens e muitos mais. Camisetas confortáveis, agradáveis e com estampas bacanas.
            </p>
            <p>
              <a href="http://www.panoestampado.com/" target="_blank">www.panoestampado.com</a>
              <div class="social-media">
                <a href="https://www.facebook.com/panoestampadooficial/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/panoestampado/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/panoestampado" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
            </p>
          </div>
          <div class="column small-4 medium-2">
            <figure class="polaroid">
              <img src="/images/pano1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>
          </div>
          <div class="column small-4 medium-2">
            <figure class="polaroid">
              <img src="/images/pano2.jpg" alt="">
              <figcaption>Camisetas</figcaption>
            </figure>
          </div>
        </div>
      </aside>
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "footer/scripts.html" . }}
</body>
</html>
