{{ define "title" }}
  {{ if eq .Page.URL "/parceiros/" }}
    <div class="title">parceiros</div>
  {{ end }}
  {{ if eq .Page.URL "/mapa/" }}
    <div class="title">mapa</div>
  {{ end }}
{{ end }}

{{ define "body" }}
  <main>
    {{ with .Content }}
      <article>{{ . }}</article>
    {{ end }}
    {{ if eq .Page.URL "/parceiros/" }}
      <aside class="bios">

        <div class="supporter">
          <div class="bio">
            <figure class="polaroid left semi-grayscale">
              <img src="/images/itutrailer1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>

            <figure class="polaroid left semi-grayscale show-for-medium">
              <img src="/images/itutrailer2.jpg" alt="">
              <figcaption>Micro Minnie</figcaption>
            </figure>

            <div class="description">
              <h3 class="separator-left"><strong>Itu Trailer</strong></h3>
              <p>
                Importadora oficial e oficina para os trailers americanos <a href="http://winnebagoind.com/" target="_blank">Winnebago</a>, inclusive do nosso Micro Minnie 1700BH.
              </p>
              <p>
                <a href="http://www.itutrailer.com.br/" target="_blank">www.itutrailer.com.br</a>
                <div class="social-media">
                  <a href="https://facebook.com/itutrailer" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com/itutrailer" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://youtube.com/itutrailer" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
              </p>
            </div>
          </div>
        </div>

        <div class="supporter">
          <div class="bio">
            <figure class="polaroid right semi-grayscale">
              <img src="/images/pano1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>

            <figure class="polaroid right semi-grayscale show-for-medium">
              <img src="/images/pano2.jpg" alt="">
              <figcaption>Camisetas</figcaption>
            </figure>

            <div class="description text-right">
              <h3 class="separator-right"><strong>Pano Estampado</strong></h3>
              <p>
                Sublimação de camisetas e brindes personalizados de bandas, seriados, personagens e, bem... overlanders!
              </p>
              <p>
                <a href="http://www.panoestampado.com/" target="_blank">www.panoestampado.com</a>
                <div class="social-media">
                  <a href="https://facebook.com/panoestampadooficial" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com/panoestampado" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://twitter.com/panoestampado" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </p>
            </div>
          </div>
        </div>
      
        <div class="supporter">
          <div class="bio">
            <figure class="polaroid left semi-grayscale">
              <img src="/images/chevrolet1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>

            <figure class="polaroid left semi-grayscale show-for-medium">
              <img src="/images/chevrolet2.jpg" alt="">
              <figcaption>Trailblazer</figcaption>
            </figure>

            <div class="description">
              <h3 class="separator-left"><strong>Chevrolet</strong></h3>
              <p>
                Fabricante da <a href="http://www.chevrolet.com.br/suvs/trailblazer.html" target="_blank">Trailblazer</a>. Tivemos uma modelo 2015 e atualmente usamos uma 2018 na viagem. Consideramos uma ótima relação conforto, tecnologia e robustez para rebocar.
              </p>
              <p>
                <a href="http://www.chevrolet.com.br/" target="_blank">www.chevrolet.com.br</a>
                <div class="social-media">
                  <a href="https://facebook.com/chevroletbrasil" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com/chevroletbr" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://youtube.com/chevroletbrasil" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
              </p>
            </div>
          </div>
        </div>

        <div class="supporter">
          <div class="bio">
            <figure class="polaroid right semi-grayscale">
              <img src="/images/sinoscar1.jpg" alt="">
              <figcaption>Empresa</figcaption>
            </figure>

            <figure class="polaroid right semi-grayscale show-for-medium">
              <img src="/images/sinoscar2.jpg" alt="">
              <figcaption>Canela/RS</figcaption>
            </figure>

            <div class="description text-right">
              <h3 class="separator-right"><strong>Sinoscar</strong></h3>
              <p>
                Rede de concessionárias Chevrolet fundada em 1947 e presente em várias cidades do Rio Grande do Sul, incluindo <a href="https://sinoscarchevroletcanela.com.br/" target="_blank">Canela</a> onde somos atendidos.
              </p>
              <p>
                <a href="http://www.sinoscar.com.br/" target="_blank">www.sinoscar.com.br</a>
                <div class="social-media">
                  <a href="https://facebook.com/sinoscarrs" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://youtube.com/tvsinoscar" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </aside>
    {{ end }}
    {{ if eq .Page.URL "/mapa/" }}
<article class="where">
  <h1 class="separator-left">Onde estamos?</h1>
  <p>
    No mapa abaixo você acompanha todo <strong>trajeto que já realizamos</strong>, com marcadores informando as datas, bem como nossa localização atual (quase) em tempo real. As coordenadas são atualizadas diretamente do painel de nosso carro com o rastreador <a href="https://br.findmespot.com/" target="_blank">Spot</a>. Também disponibilizamos o trajeto em um <a href="{{ "spot-data.kml" | absURL }}">arquivo KML</a>, que pode ser aberto, por exemplo, no <a href="https://www.google.com/earth/" target="_blank">Google Earth</a>. Experimente!
  </p>
  <div id="map"></div>
</article>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: {
        lat: -36.208,
        lng: -59.102
      },
      mapTypeId: 'hybrid'
    });
    var ctaLayer = new google.maps.KmlLayer({
      url: "{{ print ("spot-data.kml" | absURL) "?amp;updated=" now.Unix }}",
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxKss9LGv22KDJWJKd7aiXy4JuyDkvwNs&callback=initMap"></script>
    {{ end }}
  </main>
{{ end }}
