{{ define "title" }}
  <div class="column row title internal separator-center">
    <h1>{{ .Title }}</h1>
  </div>
{{ end }}

{{ define "body" }}
  {{ if .Param "image" }}
    <style>
      header {
        background-image: url(/media/{{ .Param "image" }});
      }
    </style>
  {{ end }}
  <main>
    <article class="column row post">
      {{ if .Param "callout" }}
      <p class="callout">
        {{ .Param "callout" }}
      </p>
      {{ end }}
      <p class="author">
      por {{ if eq (.Param "author") "fabiano" }}Fabiano Franz{{ end }}{{ if eq (.Param "author") "pricila" }}Pricila Franz{{ end }}, {{ .Date.Format "02/01/2006" }} às {{ .Date.Format "15h" }} em {{ .Param "local" }}
      </p>
      {{ .Content }}
    </article>
    <aside>
      <div class="row">
        {{ if eq (.Param "author") "pricila" }}
        <div class="column small-8 medium-10 text-right bio">
          <h3 class="separator-right"><strong>Pricila Franz</strong></h3>
          <p>
            {{ partial "readContent" (slice . "/content/homepage/tradutora.md") }}
          </p>
        </div>
        <div class="column small-4 medium-2">
          <figure class="polaroid">
            <img src="/images/pricila.jpg" alt="">
            <figcaption>Pricila</figcaption>
          </figure>
        </div>
        {{ end }}
        {{ if eq (.Param "author") "fabiano" }}
        <div class="column small-8 medium-10 text-right bio">
          <h3 class="separator-right"><strong>Fabiano Franz</strong></h3>
          <p>
            {{ partial "readContent" (slice . "/content/homepage/programador.md") }}
          </p>
        </div>
        <div class="column small-4 medium-2">
          <figure class="polaroid">
            <img src="/images/fabiano.jpg" alt="">
            <figcaption>Fabiano</figcaption>
          </figure>
        </div>
        {{ end }}
      </div>
    </aside>
  </main>
{{ end }}
