<footer>
  <div class="column row second-callout">
    <h2 class="separator-left">{{ (.Site.GetPage "page" "_homepage" "avisamos.md").Title }}</h2>
    {{ (.Site.GetPage "page" "_homepage" "avisamos.md").Content }}
    <div class="column row social-media">
      <a href="https://www.facebook.com/6overlanders/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/6overlanders/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCdRSH7SUMH1irFrbmo9SbnA" target="_blank"><i class="fa fa-youtube-play"></i></a>
      <div class="social-media-id">/6overlanders</div>
    </div>
  </div>
  <div class="column row copyright">
    2017 teh 6overlanders yo made in Canela yo but one in Paris and one in Floripa. whatever with proud and &hearts;
  </div>
</footer>
