<header>
  <nav>
    <div class="row">
      <div class="column small-12 medium-9">
        <ul class="menu">
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" class="{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}active{{end}}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="column medium-3 show-for-medium">
        <ul class="menu social align-right social-icons icon-flat list-unstyled list-inline">
          <li><a href="https://facebook.com/6overlanders" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://instagram.com/6overlanders" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCdRSH7SUMH1irFrbmo9SbnA" target="_blank"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="column row title">
    <h1>6overlanders</h1>
  </div>
  <div class="column row summary">
    {{ readFile "/content/homepage/callout.md" | markdownify }}
  </div>
</header>
