@import "components";

body {
  background: #d6d6d6;
  background: linear-gradient(to left, #ece9e6, #d6d6d6);
}

body, h1, h2, h3, h4 {
  color: #666;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong, b {
  font-weight: 400;
}

header {
  background-image: url(../images/landscape.jpg);
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(large) {
    padding-bottom: 2rem;
    background-position: center center;
  }


  .title {
    margin-top: 9rem;

    @include breakpoint(large) {
      margin-top: 16rem;
    }


    h1 {
      font-size: 4.5rem;
      margin: 0 0 -1.7rem 0;
      font-family: 'Cookie', cursive;
      font-weight: 400;
      color: #fff;
      text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);

      @include breakpoint(large) {
        font-size: 13rem;
        margin-bottom: -5.2rem;
      }
    }

    &.internal {
      text-align: center;
      @include breakpoint(small only) {
        padding-bottom: .5rem;
      }

      h1 {
        text-transform: lowercase;
        line-height: 0.8;
        margin-bottom: .2rem;
        font-size: 4rem;
        text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);

        @include breakpoint(large) {
          font-size: 7rem;
          margin-bottom: .5rem;

          &::first-line {
            font-size: 11rem;
          }
        }
      }

      &::after {
        width: 5rem;
        border-bottom: .2rem solid #cc4b37;

        @include breakpoint(large) {
          width: 8rem;
          border-bottom: .3rem solid #cc4b37;
        }
      }
    }
  }

  .summary {
    font-size: 1.4rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.4;

    @include breakpoint(large) {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      font-size: 2.5rem;
      line-height: 1.5;
    }
  }

  nav {
    background-color: rgba(68, 68, 68, 0.4);
    padding-top: .3rem;

    .menu {
      @include breakpoint(large) {
        font-size: 1.5rem;
      }


      .menu-text, .active {
        border-bottom: .3rem solid #cc4b37;
      }

      a {
        color: #fff;
      }

      &.social {
        a {
          color: #fff;
          padding-right: 0;

          .fa {
            text-align: center;
          }
        }
      }
    }
  }
}

main {
  aside {
    @include xy-grid-container;
  }

  .bios {
    margin-top: 1rem;

    @include breakpoint(medium) {
      margin-top: 2rem;
    }


    .bio {
      display: block;

      .polaroid {
        &.left {
          float: left;

          @include breakpoint(large) {
            float: none;
          }
        }

        &.right {
          float: right;

          @include breakpoint(large) {
            float: none;
          }
        }
      }

      @include breakpoint(large) {
        display: flex;
        flex-direction: row;

        .figures {
          display: flex;
          flex-direction: row;
          order: 9;
        }

        .polaroid {
          align-self: flex-start;
          flex-shrink: 0;
        }
      }


      h3 {
        line-height: 1;
      }

      p {
        font-size: 1rem;
        margin-bottom: 0;

        @include breakpoint(large) {
          font-size: 1.2rem;
        }
      }
    }

    .us {
      @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
      }


      .bio {
        &:last-of-type {
          @include breakpoint(small only) {
            margin-top: .7rem;
          }


          @include breakpoint(large) {
            .polaroid {
              order: 2;
            }
          }
        }
      }
    }

    .kids {
      margin-top: .7rem;

      @include breakpoint(medium) {
        margin-top: 1.5rem;
      }


      @include breakpoint(medium only) {
        display: block;

        @include clearfix;

        .figures {
          float: right;
        }
      }


      .bio {
        @include breakpoint(small only) {
          .description {
            margin-bottom: .7rem;
          }

          .figures {
            display: flex;
            flex-direction: row;

            .polaroid {
              &:first-of-type {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .trailer {
      margin-top: 1.2rem;
      clear: both;

      @include breakpoint(medium) {
        margin-top: 1.5rem;
      }
    }
    
    .supporter {
      margin-top: 1.5rem;

      @include breakpoint(medium) {
        margin-top: 2.5rem;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          .description {
            order: -1;
          }
        }
      }
    }
 }

  article {
    @include xy-grid-container;

    margin-top: 1rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    @include breakpoint(large) {
      margin-top: 2rem;
      font-size: 1.5rem;
    }


    h1 {
      line-height: 1;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.post {
      .meta {
        @include xy-grid;

        align-items: center;

        @include breakpoint(large) {
          height: 2rem;
          margin-bottom: 1rem;
        }


        .author {
          @include xy-cell();
          @include breakpoint(medium) {
            @include xy-cell(auto);
          }

          font-size: 80%;
          color: gray;
          margin-left: 0 !important;
        }

        .share {
          > .fb-like {
            @include xy-cell();
            @include breakpoint(medium) {
              @include xy-cell(shrink);
              text-align: right;
            }

          margin-left: 0 !important;
            line-height: 1;
            font-size: 1rem;
            height: 20px;

            @include breakpoint(large) {
              padding-right: .5rem;
            }
          }
        }
      }

      p {
        &.callout {
          font-size: 1.4rem;
          line-height: 1.3;

          @include breakpoint(large) {
            font-size: 2.5rem;
            line-height: 1.3;
          }
        }
      }

      ul, ol {
        margin-left: 2rem;
      }

      ul {
        &.task-list {
          margin-left: .5rem;
          list-style-type: none;
        }
      }
    }

    &.post, &.page {
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include breakpoint(large) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }


      figure {
        margin-top: .5rem;
        margin-bottom: 1rem;

        &.float-left {
          @include breakpoint(large) {
            margin-right: 1rem;
          }
        }

        &.float-right {
          text-align: right;

          @include breakpoint(large) {
            margin-left: 1rem;
          }
        }

        &.float-center {
          text-align: center;
        }

        figcaption {
          text-align: center;
          font-size: .8rem;

          @include breakpoint(large) {
            font-size: 1.2rem;
          }
        }
      }

      .separator-left, .separator-right, .separator-center {
        &::after {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

footer {
  color: #fff;
  background-color: #444;

  .second-callout {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;

    @include breakpoint(large) {
      margin-top: 2rem;
      font-size: 1.5rem;
    }


    h1 {
      color: #fff;
      line-height: 1;
    }

    .social-media {
      @include breakpoint(small only) {
        margin-bottom: 1rem;
      }
    }
  }

  .copyright {
    font-size: 0.75rem;

    @include breakpoint(large) {
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: 1rem;
    }


    a {
      color: #d7ecfa;
    }
  }
}

#map {
  height: 33rem;
  width: 100%;
  margin-right: .7rem;
  @include breakpoint(large) {
    margin-right: 1.5rem;
  }
}
