$responsive-multiplier: 1.8;

$color-highlight: #e45746;
$color-mark: #ffecb3;
$color-text: #666;
$color-background: #d6d6d6;

$text-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.2);
$box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);

$font-family-cursive: 'Cookie', cursive;
$font-family-regular: 'Lato', sans-serif;

$font-size-menu: 0.9rem;
$font-size-summary: 1.4rem;
$font-size-title: 3.5rem;
$font-size-article: 0.835rem;

$size-serrated: 1.25rem;
