{{ define "body" }}
  <main>
    <aside class="bios">
      <div class="us">
        <div class="bio">
          <figure class="polaroid left">
            <img src="/images/fabiano.jpg" alt="">
            <figcaption>Fabiano</figcaption>
          </figure>
          
          <div class="description">
            <h3 class="separator-left"><strong>{{ partial "readTitle" (slice . "/content/homepage/programador.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/programador.md") }}
            </p>
          </div>
        </div>

        <div class="bio text-right">
          <figure class="polaroid right">
            <img src="/images/pricila.jpg" alt="">
            <figcaption>Pricila</figcaption>
          </figure>

          <div class="description">
            <h3 class="separator-right"><strong>{{ partial "readTitle" (slice . "/content/homepage/tradutora.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/tradutora.md") }}
            </p>
          </div>
        </div>
      </div>

      <div class="kids">
        <div class="bio text-right">
          <div class="description">
            <h3 class="separator-right"><strong>{{ partial "readTitle" (slice . "/content/homepage/criancas.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/criancas.md") }}
            </p>
          </div>

          <div class="figures">
            <figure class="polaroid right">
              <img src="/images/lander6.jpg" alt="">
              <figcaption>Elise</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander5.jpg" alt="">
              <figcaption>Clara</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander4.jpg" alt="">
              <figcaption>Michel</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander3.jpg" alt="">
              <figcaption>Isabela</figcaption>
            </figure>
          </div>
        </div>
      </div>
      
      <div class="trailer">
        <div class="bio">
          <div class="figures">
            <figure class="polaroid left">
              <img src="/images/casa1.jpg" alt="">
              <figcaption>Micro Minnie</figcaption>
            </figure>

            <figure class="polaroid left">
              <img src="/images/casa2.jpg" alt="">
              <figcaption>Trailblazer</figcaption>
            </figure>
          </div>

          <div class="description">
            <h3 class="separator-left"><strong>{{ partial "readTitle" (slice . "/content/homepage/casa.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/casa.md") }}
            </p>
          </div>
        </div>
      </div>
    </aside>

    <article class="where">
      <h1 class="separator-left">Onde estamos?</h1>
      <p>
        No mapa abaixo você acompanha todo <strong>trajeto que já realizamos</strong>, com marcadores informando as datas, bem como nossa localização atual (quase) em tempo real. As coordenadas são atualizadas diretamente do painel de nosso carro com o rastreador <a href="https://br.findmespot.com/" target="_blank">Spot</a>. Também disponibilizamos o trajeto em um <a href="{{ "spot-data.kml" | absURL }}">arquivo KML</a>, que pode ser aberto, por exemplo, no <a href="https://www.google.com/earth/" target="_blank">Google Earth</a>. Experimente!
      </p>
      <div id="map"></div>
    </article>

    <div class="grid-container">
      <div class="post-summaries grid-x small-up-1 medium-up-2 large-up-3">
        {{ range first 2 (where .Data.Pages "Section" "blog") }}
          {{ partial "blog/thumb.html" . }}
        {{ end }}
        {{ with .Site.GetPage "page" $.Site.Params.featured }}
          {{ partial "blog/thumb.html" . }}
        {{ end }}
      </div>
    </div>

    <aside class="instagram">
      <div id="instafeed" class="grid-x grid-margin-x"></div>
    </aside>
  </main>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {
          lat: -36.208,
          lng: -59.102
        },
        mapTypeId: 'hybrid'
      });
      var ctaLayer = new google.maps.KmlLayer({
        url: "{{ print ("spot-data.kml" | absURL) "?amp;updated=" now.Unix }}",
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxKss9LGv22KDJWJKd7aiXy4JuyDkvwNs&callback=initMap"></script>
  <script>
  var feed = new Instafeed({
    get: 'user',
    userId: 5616150194,
    accessToken: '5616150194.5952ea2.d4e4f3e0b7364a1c86aa2627b22c37ff',
    template: '<figure class="polaroid semi-grayscale cell small-4 medium-2"><a href="\{\{link\}\}" target="blank"><img src="\{\{image\}\}"></a></figure>',
    limit: 12
  });
  feed.run();
  </script>
{{ end }}
