{{ define "body" }}
  <main>
    <aside class="bios">
      <div class="us">
        <div class="bio">
          <figure class="polaroid left">
            <img src="/images/fabiano.jpg" alt="">
            <figcaption>Fabiano</figcaption>
          </figure>
          
          <div class="description">
            <h3 class="separator-left"><strong>{{ partial "readTitle" (slice . "/content/homepage/programador.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/programador.md") }}
            </p>
          </div>
        </div>

        <div class="bio text-right">
          <figure class="polaroid right">
            <img src="/images/pricila.jpg" alt="">
            <figcaption>Pricila</figcaption>
          </figure>

          <div class="description">
            <h3 class="separator-right"><strong>{{ partial "readTitle" (slice . "/content/homepage/tradutora.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/tradutora.md") }}
            </p>
          </div>
        </div>
      </div>

      <div class="kids">
        <div class="bio text-right">
          <div class="description">
            <h3 class="separator-right"><strong>{{ partial "readTitle" (slice . "/content/homepage/criancas.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/criancas.md") }}
            </p>
          </div>

          <div class="figures">
            <figure class="polaroid right">
              <img src="/images/lander6.jpg" alt="">
              <figcaption>Elise</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander5.jpg" alt="">
              <figcaption>Clara</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander4.jpg" alt="">
              <figcaption>Michel</figcaption>
            </figure>

            <figure class="polaroid right">
              <img src="/images/lander3.jpg" alt="">
              <figcaption>Isabela</figcaption>
            </figure>
          </div>
        </div>
      </div>
      
      <div class="trailer">
        <div class="bio">
          <figure class="polaroid left">
            <img src="/images/micro-minnie.jpg" alt="">
            <figcaption>Micro Minnie</figcaption>
          </figure>

          <div class="description">
            <h3 class="separator-left"><strong>{{ partial "readTitle" (slice . "/content/homepage/casa.md") }}</strong></h3>
            <p>
              {{ partial "readContent" (slice . "/content/homepage/casa.md") }}
            </p>
          </div>
        </div>
      </div>
    </aside>

    <article class="why">
      <h1 class="separator-left">{{ partial "readTitle" (slice . "/content/homepage/pq.md") }}</h1>
      <p>
        {{ partial "readContent" (slice . "/content/homepage/pq.md") }}
      </p>
    </article>

    <article class="where">
      <h1 class="separator-left">{{ partial "readTitle" (slice . "/content/homepage/onde.md") }}</h1>
      <div class="grid-x">
        <div class="cell medium-4 show-for-medium">
          <div id="map"></div>
        </div>
        <div class="cell small-12 medium-8">
          <p>
            {{ partial "readContent" (slice . "/content/homepage/onde.md") }}
          </p>
        </div>
      </div>
    </article>
  </main>
  <script>
    function initMap() {
      var markers = [
        ['Canela', -29.35649, -50.81242],
        ['Ushuaia', -54.80191, -68.30295],
        ['Cartagena', 10.39104, -75.47942]
      ];
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {
          lat: -24.006,
          lng: -59.022
        },
        disableDefaultUI: true,
        gestureHandling: "cooperative",
        scrollwheel: false,
        styles: [{
            "featureType": "administrative",
            "elementType": "all",
            "stylers": [{
              "visibility": "on"
            }, {
              "lightness": 33
            }]
          },
          {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [{
              "color": "#f2e5d4"
            }]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [{
              "color": "#c5dac6"
            }]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels",
            "stylers": [{
              "visibility": "on"
            }, {
              "lightness": 20
            }]
          },
          {
            "featureType": "road",
            "elementType": "all",
            "stylers": [{
              "lightness": 20
            }]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{
              "color": "#c5c6c6"
            }]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [{
              "color": "#e4d7c6"
            }]
          },
          {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [{
              "color": "#fbfaf7"
            }]
          },
          {
            "featureType": "water",
            "elementType": "all",
            "stylers": [{
              "visibility": "on"
            }, {
              "color": "#acbcc9"
            }]
          }
        ]
      });
      for (var i = 0; i < markers.length; i++) {
        var marker = markers[i];
        new google.maps.Marker({
          map: map,
          position: {
            lat: marker[1],
            lng: marker[2]
          },
          label: marker[0]
        });
      }
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxKss9LGv22KDJWJKd7aiXy4JuyDkvwNs&callback=initMap"></script>
{{ end }}
