        <div class="post-summary cell">
          <div class="card">
            <div class="card-image">
              <a href="{{ .RelPermalink }}" title="abrir post">
                {{ if .Param "images.thumb"}}
                  {{ $original := .Resources.GetByPrefix (.Param "images.thumb") }}
                  {{ $thumb := $original.Fill "600x400" }}
                  <img src="{{ $thumb.RelPermalink }}">
                {{ else }}
                  <img src="https://placehold.it/600x400">
                {{ end }}
                <span class="card-title" style="">{{ .Title }}</span>
              </a>
            </div>
            <div class="card-section">
              <div class="sub author">
                {{ if eq (.Param "author") "pricila" }}
                  Pricila Franz -
                {{ end }}
                {{ if eq (.Param "author") "fabiano" }}
                  Fabiano Franz -
                {{ end }}
                {{ .Date.Format "02 January 2006" }}</span>
              </div>
              <p class="summary">{{ if .Param "callout" }}{{ .Param "callout" }} {{ end }}{{ .Summary | truncate 280 }}</p>
              <div class="expand sub text-center">
                <a href="{{ .RelPermalink }}" title="abrir post">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

